$bs-box-shadow: 0 0.5rem 1rem rgba($bs-body-color-rgb, 0.15);
$bs-box-shadow-sm: 0 0.125rem 0.25rem rgba($bs-body-color-rgb, 0.075);
$bs-box-shadow-lg: 0 1rem 3rem rgba($bs-body-color-rgb, 0.175);
$bs-box-shadow-inset: inset 0 1px 2px rgba($bs-body-color-rgb, 0.075);