// https://mui.com/material-ui/customization/palette/

$primary-color: #42a5f5;
$secondary-color: #ba68c8;
$error-color: #ef5350;
$warning-color: #ff9800;
$info-color: #03a9f4;
$success-color: #4caf50;
$white-color: #FFFFFF;
