.private-layout .ant-layout-header,
.private-layout .ant-layout-footer {
    // color: #fff;
    background: #F9F9FB;
    padding-inline-start: 20px;
}

// .private-layout .ant-layout-footer {
//     line-height: 1.5;
// }

.private-layout .ant-layout-sider {
    color: #fff;
    // line-height: 120px;
    background: #3ba0e9;
}

.private-layout .ant-layout-content {
    // min-height: 120px;
    color: #fff;
    // line-height: 120px;
    background: rgba(16, 142, 233, 1);
}