

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.font-weight-normal {
    font-weight: 400;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90px;
}

.w-300 {
    width: 300px;
}


.p-fixed {
    position: fixed;
    z-index: 1;
}

.cursore-pointer {
    cursor: pointer;
}

.role_create_card {
    border-radius: 12px;
}

