.text-primary {
    color: $bs-primary !important;
}
.text-secondary {
    color: $bs-secondary !important;
}
.text-success {
    color: $bs-success !important;
}
.text-info {
    color: $bs-info !important;
}
.text-warning {
    color: $bs-warning !important;
}
.text-danger {
    color: $bs-danger !important;
}
.text-light {
    color: $bs-light !important;
}
.text-dark {
    color: $bs-dark !important;
}



.text-muted {
    --bs-text-opacity: 1;
    color: #74788d !important;
}

// Text alignment
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}