.text-primary {
    color: $primary-color !important;
}
.text-secondary {
    color: $secondary-color !important;
}
.text-error {
    color: $error-color !important;
}
.text-warning {
    color: $warning-color !important;
}
.text-info {
    color: $info-color !important;
}
.text-success {
    color: $success-color !important;
}
.text-white {
    color: $white-color !important;
}



.text-muted {
    --bs-text-opacity: 1;
    color: #74788d !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}