.bg-primary {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-primary-rgb, $bs-bg-opacity) !important;
}

.bg-secondary {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-secondary-rgb, $bs-bg-opacity) !important;
}

.bg-success {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-success-rgb, $bs-bg-opacity) !important;
}

.bg-info {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-info-rgb, $bs-bg-opacity) !important;
}

.bg-warning {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-warning-rgb, $bs-bg-opacity) !important;
}

.bg-danger {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-danger-rgb, $bs-bg-opacity) !important;
}

.bg-light {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-light-rgb, $bs-bg-opacity) !important;
}

.bg-dark {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-dark-rgb, $bs-bg-opacity) !important;
}

.bg-black {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-black-rgb, $bs-bg-opacity) !important;
}

.bg-white {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-white-rgb, $bs-bg-opacity) !important;
}

.bg-body {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-body-bg-rgb, $bs-bg-opacity) !important;
}

.bg-transparent {
    $bs-bg-opacity: 1;
    background-color: transparent !important;
}

.bg-body-secondary {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-secondary-bg-rgb, $bs-bg-opacity) !important;
}

.bg-body-tertiary {
    $bs-bg-opacity: 1;
    background-color: rgba($bs-tertiary-bg-rgb, $bs-bg-opacity) !important;
}

// .bg-body-emphasis {
//     $bs-bg-opacity: 1;
//     background-color: rgba($bs-emphasis-bg-rgb, $bs-bg-opacity) !important;
// }

.bg-opacity-10 {
    $bs-bg-opacity: 0.1;
}

.bg-opacity-25 {
    $bs-bg-opacity: 0.25;
}

.bg-opacity-50 {
    $bs-bg-opacity: 0.5;
}

.bg-opacity-75 {
    $bs-bg-opacity: 0.75;
}

.bg-opacity-100 {
    $bs-bg-opacity: 1;
}

.bg-primary-subtle {
    background-color: $bs-primary-bg-subtle !important;
}

.bg-secondary-subtle {
    background-color: $bs-secondary-bg-subtle !important;
}

.bg-success-subtle {
    background-color: $bs-success-bg-subtle !important;
}

.bg-info-subtle {
    background-color: $bs-info-bg-subtle !important;
}

.bg-warning-subtle {
    background-color: $bs-warning-bg-subtle !important;
}

.bg-danger-subtle {
    background-color: $bs-danger-bg-subtle !important;
}

.bg-light-subtle {
    background-color: $bs-light-bg-subtle !important;
}

.bg-dark-subtle {
    background-color: $bs-dark-bg-subtle !important;
}

.bg-gradient {
    background-image: $bs-gradient !important;
}